<script>
import FigmaInput from '../components/figma_plugin_ds/input';
import FigmaButton from '../components/figma_plugin_ds/button';
import FigmaAlert from '../components/figma_plugin_ds/alert';
import FigmaSection from '../components/figma_plugin_ds/section';
import EmptyIssueIllustration from '../assets/illustrations/issues.svg';
import GitlabLogo from '../assets/icons/gitlab-icon-rgb.svg';
import setAccessTokenMutation from '../graphql/mutations/set_access_token.mutation.graphql';
import currentUserQuery from '../graphql/queries/current_user.query.graphql';
import windowEmitter from '../shared/window_message_event_bus';
import { FIGMA_MESSAGE_TYPES } from '~/shared/constants';

export default {
  name: 'Login',
  components: {
    FigmaInput,
    FigmaButton,
    FigmaAlert,
    FigmaSection,
    EmptyIssueIllustration,
    GitlabLogo,
  },
  data() {
    return {
      accessToken: '',
      alertMessage: null,
      tokenReceived: false,
      afterInitialLoad: false,
    };
  },
  apollo: {
    currentUser: {
      query: currentUserQuery,
      result({ data: { currentUser } }) {
        if (!currentUser) return;
        // if we successfully got the current user,
        // set the access token in Figma
        window.parent.postMessage(
          {
            pluginMessage: {
              type: FIGMA_MESSAGE_TYPES.SET_ACCESS_TOKEN,
              data: {
                accessToken: this.accessToken,
              },
            },
          },
          '*',
        );
        // Then, immediately navigate to next screen
        this.$router.push({ name: 'UploadSelection' });
      },
      error() {
        // only set initial load if we've received a token
        if (this.tokenReceived) {
          this.onInitialLoad();
        }
        this.alertDanger('Invalid access token. Please try again.');
      },
    },
  },
  computed: {
    isLoading() {
      return this.$apollo.queries.currentUser.loading;
    },
  },
  mounted() {
    windowEmitter.on(FIGMA_MESSAGE_TYPES.SET_ACCESS_TOKEN, data => {
      this.tokenReceived = true;

      const { accessToken } = data;
      if (!accessToken) {
        // if no access token, save a network request
        // and bail early
        this.onInitialLoad();
        return;
      }

      this.accessToken = accessToken;
      this.onSetAccessToken();
    });
  },
  methods: {
    onInitialLoad() {
      // we have "intially loaded"
      // when Figma sends us the access token,
      // and when the currentUser request has completed
      if (!this.afterInitialLoad) {
        this.afterInitialLoad = true;
      }
    },
    setAccessToken(accessToken) {
      return this.$apollo.mutate({
        mutation: setAccessTokenMutation,
        variables: {
          accessToken,
        },
      });
    },
    onSetAccessToken() {
      this.setAccessToken(this.accessToken).then(() => {
        this.$apollo.queries.currentUser.refetch();
      });
    },
    alertDanger(message) {
      this.alertType = 'danger';
      this.alertMessage = message;
    },
  },
};
</script>

<template>
  <main class="h-100 d-flex flex-column">
    <!-- Splash screen -->
    <div v-if="!afterInitialLoad" class="h-100 d-flex align-items-center justify-content-center">
      <gitlab-logo class="w-50"></gitlab-logo>
    </div>

    <!-- Login screen -->
    <template v-else>
      <figma-section class="flex-grow">
        <figma-alert
          v-if="!isLoading && alertMessage"
          class="mb-3"
          :variant="alertType || 'danger'"
          @dismiss="alertMessage = null"
          >{{ alertMessage }}</figma-alert
        >
        <div class="w-100 p-medium m-auto">
          <empty-issue-illustration></empty-issue-illustration>
        </div>

        <p class="text-xsmall">You are one step away from contributing to your designs.</p>
        <p class="text-xsmall">
          Authenticate with GitLab.com using a GitLab personal access token.
        </p>
        <form id="set_access_token_form" @submit.prevent="onSetAccessToken">
          <figma-input
            id="access_token_input"
            v-model="accessToken"
            placeholder="GitLab.com access token"
            type="password"
            required
          ></figma-input>
        </form>
      </figma-section>
      <figma-section
        class="d-flex justify-content-between align-items-center w-100 border-top-grey"
      >
        <a
          href="https://gitlab.com/gitlab-org/gitlab-figma-plugin/-/wikis/home#creating-a-gitlab-personal-access-token"
          class="text-xsmall"
          target="_blank"
          >Where to find my token?
        </a>
        <figma-button :loading="isLoading" type="submit" form="set_access_token_form">{{
          isLoading ? 'Saving token' : 'Save token'
        }}</figma-button>
      </figma-section>
    </template>
  </main>
</template>
